@font-face {
  font-family: 'Default';
  src: url(./Lato/Lato-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Default';
  src: url(./Lato/Lato-Thin.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Default';
  src: url(./Lato/Lato-LightItalic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Default';
  src: url(./Lato/Lato-ThinItalic.ttf);
  font-weight: lighter;
  font-style: italic;
}